body {
	font-family: 'Product Sans', sans-serif;
	margin: 0px;
	background-color: #330084;
}

* {
	color: #fffaeb;
}

@font-face {
	font-family: myFirstFont;
	src: url(NTBrickSans.ttf) format('truetype');
}

#overall {
	height: 100vh;
}

#HomePage {
	height: 100vh;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-image: url(images/Background_image.png);
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#gdsc-button {
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}
#img_score {
	height: 4vw;
	width: auto;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 3vw;
	margin-top: 3vw;
}
#img_hearts {
	height: 4vw;
	width: auto;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 3vw;
	margin-top: 3vw;
}
#h2 {
	font-size: 3vw;
	margin: 0;
	margin-bottom: 1vw;
}
#h1 {
	font-family: myFirstFont, sans-serif;
	margin: 0;
	font-size: 5vw;
	color: #fa59d8;
	margin-bottom: 1vw;
}
#h3 {
	font-family: myFirstFont, sans-serif;
	font-size: 1vw;
	margin: 0;
}
#login_button {
	margin-top: 1vw;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}
#login {
	height: 3vw;
	width: auto;
	transition: transform 0.2s;
}
#login:hover {
	transform: scale(1.2);
}
#WhoSection {
	height: auto;
	padding-top: 0vh;
}
#purpleTransition {
	width: 100%;
	height: auto;
}
#WhoSection h1 {
	padding-top: 10vw;
	font-family: myFirstFont, sans-serif;
	margin: 0;
	font-size: 3vw;
	color: white;
	margin-bottom: 3vw;
	text-align: center;
}
#WhoSection p {
	margin: 0;
	font-size: 1.5vw;
	color: white;
	width: 40vw;
}
.whoContainer {
	padding-top: 0px;
	margin-top: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7vw;
	margin-left: 0;
	height: auto;
	box-sizing: border-box;
}
.whoContainer img {
	width: 40vw;
	height: auto;
}
#AboutSection {
	height: auto;
	padding-top: 10vw;
}
#AboutSection h1 {
	font-family: myFirstFont, sans-serif;
	margin: 0;
	font-size: 3vw;
	color: white;
	margin-bottom: 3vw;
	text-align: center;
}
.aboutContainer p {
	margin: 0;
	font-size: 1.5vw;
	color: white;
	width: 40vw;
}
.aboutContainer {
	padding-top: 0px;
	margin-top: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7vw;
	margin-left: 0;
	height: auto;
	box-sizing: border-box;
}
#whatIsDevFest {
	width: 40vw;
	height: auto;
}
#starss {
	margin-top: 5vw;
	width: 100%;
	height: auto;
	margin-bottom: 0vh;
}
#TracksSection {
	padding: 2vw 10vw;
}
#TracksSection h2 {
	padding-top: 5vw;
	font-family: myFirstFont, sans-serif;
	margin: 0;
	font-size: 3vw;
	color: white;
	margin-bottom: 5vw;
	text-align: center;
}
.card-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2vw;
}
.card {
	border-radius: 30px;
	padding: 1.5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	box-sizing: border-box;
	overflow: hidden;
	width: 100%;
	cursor: pointer;
}
.card h1 {
	/* font-size: 2vw; */
	margin-bottom: 0vh;
	/* margin-top: 0px; */
}
.card p {
	padding-top: 0px;
	overflow-wrap: break-word;
	font-size: 1.2vw;
	color: white;
}

.card p b {
	padding-top: 0px;
	overflow-wrap: break-word;
	font-size: 1.2vw;
	color: #faf9e5;
}

.card ul li {
	padding-top: 0px;
	overflow-wrap: break-word;
	font-size: 1.1vw;
	color: white;
}

#first {
	background-color: #ff5c5c;
}
#second {
	background-color: #19ab8d;
}
#third {
	background-color: #ffd428d5;
}
#fourth {
	background-color: #4285f4;
}
#GallerySection {
	overflow: hidden;
	position: relative;
	height: auto;
	padding-top: 10vw;
	text-align: center;
	margin-bottom: 3vw;
}
#GallerySection h2 {
	font-family: myFirstFont, sans-serif;
	margin: 0;
	font-size: 3vw;
	color: white;
	margin-bottom: 3vw;
	text-align: center;
}
.slider-container {
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: 10vw;
}
.slider {
	display: flex;
	animation: slide 30s linear infinite;
	width: 200%;
}
.slider-inner {
	display: flex;
	width: 50%; /* Half the width of the slider for a seamless loop */
}
.slider img {
	width: 20%;
	height: auto;
	flex-shrink: 0;
	margin-right: 10px; /* Space between images */
}

@keyframes slide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
#TestimonialsSection {
	position: relative;
	height: auto;
	padding-top: 10vw;
	text-align: center;
	padding-bottom: 30vh;
	background-color: #ccccff;
	margin-bottom: 0px;
}
#header {
	position: absolute;
	display: flex;
	font-size: 2.1vw;
	justify-content: space-around;
	align-items: center;
	color: white;
	left: 50%;
	top: 0;
	width: 90%;
	height: 70px;
	transform: translate(-50%, -50%);
	background-color: #100826;
	border-radius: 19px;
	box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.292);
}

#header img {
	height: 60%;
}
.testimonials-container {
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
}
.testing {
	display: flex;
	animation: slidee 30s linear infinite;
}
.testing .testings:nth-child(odd) .content {
	background-color: white;
}
.testing .testings:nth-child(even) .content {
	background-color: #6d6d6d;
}
.testing .testings:nth-child(even) .content p {
	color: white;
}
.testing .testings:nth-child(even) .content h2 {
	color: white;
}
.tests {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	width: 200%;
}
.content {
	background-color: #a2c8cc;
	border-radius: 20px;
	width: 35vw;
	margin-right: 10vw;
	position: relative;
	padding: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: solid 4px;
	box-sizing: border-box;
	flex-grow: 1; /* Ensures containers grow equally */
	height: 100%;
}
.content h2 {
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	font-size: 2vw;
}
.content p {
	margin: 0px;
	padding: 0px;
	font-size: 1.2vw;
}
.together {
	display: flex;
	align-items: center;
	gap: 5%;
}
.content img {
	object-fit: cover;
	width: 10vw;
	height: auto;
	max-height: 10vw;
}
.together p {
	font-size: 1.2vw;
	color: #333;
	padding: 10px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	white-space: normal;
	width: 100%;
	text-align: left;
}

@keyframes slidee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}

#ScheduleSection {
	background-color: #8e68e6;
	height: 100vh;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	position: relative;
}
#ScheduleSection h1 {
	font-family: myFirstFont, sans-serif;
	margin: 0;
	font-size: 3vw;
	color: white;
	padding-top: 5vw;
	margin-bottom: 3vw;
	text-align: center;
}
#ScheduleSection h2 {
	font-family: myFirstFont, sans-serif;
	margin: 0;
	font-size: 2vw;
	color: white;
	position: absolute;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
}

#SponsorsSection h2 {
	padding-top: 5vw;
	font-family: myFirstFont, sans-serif;
	margin: 0;
	font-size: 3vw;
	color: white;
	padding-bottom: 4vw;
	text-align: center;
}
#SponsorsSection {
	background-color: #2e1b5b;
	text-align: center;
	height: auto;
	padding-top: 0vh;
	padding-bottom: 10vw;
}
#bricksTransition {
	width: 100%;
	height: auto;
}
.logo-container {
	display: flex;
	justify-content: center;
	gap: 3vw;
	padding-bottom: 5vw;
}
.logos {
	height: 7vw;
	width: auto;
	cursor: pointer;
	transition: transform 0.3s;
}

.logos:hover {
	transform: scale(1.05);
}

.clubs-container {
	display: flex;
	justify-content: center;
	gap: 7vw;
	margin-bottom: 0vh;
}

.clubs {
	height: 7vw;
	width: auto;
	cursor: pointer;
	transition: transform 0.3s;
}

.clubs:hover {
	transform: scale(1.05);
}

#SpeakersSection {
	font-family: myFirstFont, sans-serif;
	background-color: #471b9b;
	color: white;
	height: auto;
	padding-bottom: 5vw;
	padding-top: 5vw;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

#SpeakersSection h1,
#SpeakersSection h2 {
	font-family: myFirstFont, sans-serif;
}
#SpeakersSection pre {
	margin-top: 0px;
}
#SpeakersSection h2 {
	padding-top: 0px;
	font-size: 2vw;
}
#SpeakersSection h1 {
	margin: 0;
	font-size: 3vw;
	padding-bottom: 4vw;
	text-align: center;
	padding: 0;
}

#speakers-slides-container {
	position: relative;
	/* width: 40vw; */
	max-width: 50vw;
	height: 70vh;
	overflow: hidden;
}

#SpeakersSection .speakers-content {
	display: flex;
	align-items: center;
	align-content: flex-start;
	flex-direction: column;
	gap: 10px;
}

#SpeakersSection .picture {
	width: 20vw;
	height: auto;
}

#SpeakersSection .arrows {
	display: flex;
	width: 25vw;
	justify-content: space-between;
	align-items: center;
}
.arrows span {
	font-size: 1.5vw;
	align-items: center;
}
.arrows button {
	height: 4vw;
	width: 4vw;
}

.arrows button img {
	height: auto;
	width: 100%;
}

#SpeakersSection .speaker-description {
	font-family: Product Sans;
	font-size: 1.4vw;
}

#SpeakersSection .speaker-title {
	font-family: Product Sans;
	font-size: 2vw;
}

#SpeakersSection button {
	background: none;
	border: none;
	color: white;
	font-size: 30px;
}

#SpeakersSection button:hover {
	cursor: pointer;
}

#SpeakersSection button:active {
	filter: brightness(50%);
}

#FAQsSection {
	background-color: #471b9b;
	height: auto;
	min-height: 100vh;
	padding-top: 5vw;
	margin-bottom: 0px;
	padding-bottom: 2vw;
}
#FAQsSection h1 {
	font-family: myFirstFont, sans-serif;
	text-align: center;
	font-size: 3vw;
	color: white;
}
#sectionQ {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.faq {
	width: 100%;
	margin-top: 2vw;
	padding-bottom: 0.5vw;
	border-bottom: 3px white solid;
}
.question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.question h3 {
	font-size: 2vw;
	color: white;
	padding-top: 0;
	margin-top: 1vw;
	padding-bottom: 0;
	margin-bottom: 0;
}
.answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1.4s ease;
}
.answer p {
	padding-top: 0;
	line-height: 1.6;
	font-size: 1.3vw;
	color: white;
}
.faq.active .answer {
	max-height: 100vh;
	animation: fade 1s ease-in-out;
}
.faq.active svg {
	transform: rotate(180deg);
}
svg {
	transition: transform 0.5s ease-in;
}
@keyframes fade {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
#OrganizersSection {
	margin-top: 0px;
	background-color: #fa59d8;
	height: auto;
	padding-top: 5vw;
	text-align: center;
}
#OrganizersSection h1 {
	font-family: myFirstFont, sans-serif;
	font-size: 2.5vw;
	color: white;
}
#StayInTouch {
	height: auto;
	padding-top: 5vw;
	text-align: center;
}
#StayInTouch h1 {
	font-family: myFirstFont, sans-serif;
	font-size: 2.5vw;
	color: white;
	margin-bottom: 5vw;
}
.contact-container {
	height: auto;
	display: flex;
	margin-bottom: 10vw;
	align-items: start;
	justify-content: center;
	gap: 5vw;
}
.contact-right img {
	width: 40vw;
	height: auto;
}
.contact-left {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1vw;
}
.contact-left p {
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
	font-size: 2vw;
	font-family: myFirstFont, sans-serif;
}
.contact-inputs {
	width: 30vw;
	height: 3vw;
	border: none;
	outline: none;
	padding-left: 25px;
	font-weight: 500;
	color: #666;
	background-color: #ccccff;
	border-radius: 5px;
	font-size: 1.1vw;
	color: black;
}
#send {
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}
#send-image {
	width: 8vw;
	height: auto;
}
.contact-left textarea {
	min-width: 30vw;
	max-width: 30vw;
	min-height: 5vw;
	max-height: 15vw;
	height: 15vw;
	padding-top: 15px;
	border-radius: 5px;
	font-size: 1vw;
	color: black;
}
.contact-inputs:focus {
	border: 2px solid #22a5c2;
}
.social-media {
	display: flex;
	justify-content: center;
	gap: 1vw;
}
.logotypes {
	width: 2.4vw;
	height: auto;
}
.made {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.5vw;
	margin-bottom: 3vw;
}
.made p {
	margin-top: 0px;
	color: white;
	font-family: myFirstFont, sans-serif;
	align-items: center;
	margin-bottom: 0px;
	font-size: 1.5vw;
}
#end-heart {
	height: 2vw;
	width: auto;
}
#end-logo {
	height: 2vw;
	width: auto;
}

@media (max-width: 600px) {
	#img_score {
		width: 20vw;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
		margin-left: 5vw;
		margin-top: 13vh;
	}
	#img_hearts {
		width: 20vw;
		height: auto;
		position: absolute;
		top: 0;
		right: 0;
		margin-right: 4vw;
		margin-top: 13vh;
	}
	#h2 {
		font-size: 5vh;
		margin: 0;
		margin-bottom: 3vh;
	}
	#h1 {
		font-family: myFirstFont, sans-serif;
		margin: 0;
		font-size: 5vh;
		color: #fa59d8;
		margin-bottom: 3vh;
	}
	#h3 {
		font-family: myFirstFont, sans-serif;
		font-size: 2vw;
		margin: 0;
	}
	.navbar {
		height: 10vh;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		background-color: #1129a6;
		z-index: 1000;
		margin: 0 auto;
	}
	#logo {
		margin-left: 5vw;
		width: 15vw;
		height: auto;
		border: none;
	}
	#HomePage #login_button {
		border: none;
		background: none;
		padding: 0;
		cursor: pointer;
	}
	#HomePage #login {
		width: 20vw;
		height: auto;
	}
	#WhoSection {
		height: auto;
		margin-top: 0px;
		padding-top: 5vh;
		margin-bottom: 10vh;
		padding-bottom: 0px;
	}
	#WhoSection h1 {
		font-size: 5vw;
		margin-bottom: 0%;
		margin-top: 0;
		margin-bottom: 1vh;
	}
	.whoContainer {
		padding-top: 0px;
		margin-top: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: auto;
		box-sizing: border-box;
	}
	#WhoSection .whoContainer p {
		width: 70%;
		padding: 20px;
		font-size: 0.7em;
		margin: 0;
	}
	#WhoSection .whoContainer img {
		width: 70%;
		height: auto;
	}
	#AboutSection {
		height: auto;
		margin-top: 0px;
		padding-top: 5vh;
		margin-bottom: 10vh;
		padding-bottom: 0px;
	}
	#AboutSection h1 {
		font-size: 1em;
		margin-bottom: 0%;
		margin-top: 0;
		margin-bottom: 0vh;
	}
	.aboutContainer {
		padding-top: 0px;
		margin-top: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: auto;
		box-sizing: border-box;
	}
	#AboutSection .aboutContainer p {
		width: 70%;
		padding: 20px;
		font-size: 0.7em;
		margin: 0;
	}
	#AboutSection .aboutContainer img {
		width: 70%;
		height: auto;
	}

	#TracksSection {
		height: auto;
		margin-top: 0px;
		padding-top: 5vh;
		margin-bottom: 0vh;
		padding-bottom: 0px;
	}
	#TracksSection h2 {
		font-size: 1em;
		margin-bottom: 4vh;
		margin-top: 0;
	}
	.tracks-container {
	}
}
