body{
    font-family: "Open Sans", sans-serif;
    background-color: white;
    margin: 0px;
}
@font-face {
    font-family: myFirstFont;
    src: url(NTBrickSans.ttf) format('truetype');
}
#overall{
    height: 100vh;
}
body{
    background-color: #330084;
}
#HomePage{
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(images/Background_image.jpeg);
    position: relative;
}
#img_score {
    height: 10vh;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2vw;
    margin-top: 15vh;
}
#img_hearts {
    height: 5vh;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2vw;
    margin-top: 15vh;
}
#h2{
    font-size: 3vw;
    margin: 0;
    margin-bottom: 3vh;
}
#h1{
    font-family: myFirstFont, sans-serif;
    margin: 0;
    font-size: 5vw;
    color: #FA59D8;
    margin-bottom: 3vh;
}
#h3{
    font-family: myFirstFont, sans-serif;
    font-size: 1vw;
    margin: 0;
}
#HomePage #login_button{
    margin-top: 3vh;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
#HomePage #login{
    height: 6vh;
    width: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color: #1129A6;
    z-index: 1000;
    margin: 0 auto;
}
#logo {
    margin-left: 2vw;
    height: 5vh;
    width: auto;
    border: none;
}
#WhoSection{
    height: auto;
    padding-top: 0vh;
}
#purpleTransition{
    width: 100%;
    height: auto;
}
#WhoSection h1{
    padding-top: 20vh;
    font-family: myFirstFont, sans-serif;
    margin: 0;
    font-size: 3vw;
    color: white;
    margin-bottom: 7vh;
    text-align: center;
}
#WhoSection p{
    margin: 0;
    font-size: 1.5vw;
    color: white;
    width: 40vw;
}
.whoContainer{
    padding-top: 0px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
    margin-left: 0;
    height: auto;
    box-sizing: border-box;
}
.whoContainer img{
    width: 40vw;
    height: auto;
}
#AboutSection{
    height: auto;
    padding-top: 20vh;
}
#AboutSection h1{
    font-family: myFirstFont, sans-serif;
    margin: 0;
    font-size: 3vw;
    color: white;
    margin-bottom: 7vh;
    text-align: center;
}
.aboutContainer p{
    margin: 0;
    font-size: 1.5vw;
    color: white;
    width: 40vw;
}
.aboutContainer{
    padding-top: 0px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
    margin-left: 0;
    height: auto;
    box-sizing: border-box;
}
#whatIsDevFest{
    width: 40vw;
    height: auto;
}
#starss{
    margin-top: 10vh;
    width: 100%;
    height: auto;
    margin-bottom: 5vh;
}

#TracksSection {
    padding: 4vh 10vw;
}
#TracksSection h2{
    padding-top: 20vh;
    font-family: myFirstFont, sans-serif;
    margin: 0;
    font-size: 3vw;
    color: white;
    margin-bottom: 10vh;
    text-align: center;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
}
.card {
    border-radius: 30px;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}
.card h3 {
    font-size: 2vw;
    margin-bottom: 0vh;
    margin-top: 0px;
    color: white;
}
.card p {
    padding-top: 0px;
    flex-grow: 1;
    overflow-wrap: break-word;
    font-size: 1.1vw;
    color: white;
}
#first{
    background-color: #FF5C5C;
}
#second{
    background-color: #19ab8d;
}
#third{
    background-color: #ffd428d5;
}
#fourth{
    background-color: #4285F4;    
}
#GallerySection{
    overflow: hidden;
    position: relative;
    height: auto;
    padding-top: 20vh;
    text-align: center;
    margin-bottom: 10vh;
}
#GallerySection h2{
    font-family: myFirstFont, sans-serif;
    margin: 0;
    font-size: 3vw;
    color: white;
    margin-bottom: 7vh;
    text-align: center;
}
.slider-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.slider {
    display: flex;
    animation: slide 30s linear infinite;
    width: 200%;
}
.slider-inner {
    display: flex;
    width: 50%; /* Half the width of the slider for a seamless loop */
}
.slider img {
    width: 20%;
    height: auto;
    flex-shrink: 0;
    margin-right: 10px; /* Space between images */
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}



#TestimonialsSection{
    height: 100vh;
    padding-top: 70px;
}
#ScheduleSection{
    background-color: #471B9B;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}
#ScheduleSection h1{
    font-family: myFirstFont, sans-serif;
    margin: 0;
    font-size: 2vw;
    color: white;
    padding-top: 10vh;
    margin-bottom: 7vh;
    text-align: center;
}
#ScheduleSection h2{
    margin: 0;
    font-size: 2.5vw;
    color: white;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}


#SponsorsSection h2{
    padding-top: 10vh;
    font-family: myFirstFont, sans-serif;
    margin: 0;
    font-size: 3vw;
    color: white;
    padding-bottom: 10vh;
    text-align: center;
}   
#SponsorsSection {
    background-color: #c9b3fa;
    text-align: center;
    height: auto;
    padding-top: 0vh;
}
#bricksTransition {
    width: 100%;
    height: auto;
}
.logo-container {
    display: flex; /* Use flexbox to arrange logos in one line */
    justify-content: center; /* Center logos horizontally */
    gap: 5vw;
    padding-bottom: 10vh;
}
.logo-container {
    display: flex; /* Use flexbox to arrange logos in one line */
    justify-content: center; /* Center logos horizontally */
    gap: 5vw;
    margin-bottom: 10vh;
}
.logos {
    height: 100px; /* Set a fixed height for logos */
    width: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: transform 0.3s; /* Add transition for hover effect */
}

.logos:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
}

.clubs-container {
    display: flex; /* Use flexbox to arrange logos in one line */
    justify-content: center; /* Center logos horizontally */
    gap: 5vw;
    margin-bottom: 0vh;
}

.clubs {
    height: 100px; /* Set a fixed height for logos */
    width: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: transform 0.3s; /* Add transition for hover effect */
}

.clubs:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
}

#SpeakersSection{
    background-color: rgb(160, 248, 163);
    height: 100vh;
    padding-top: 70px;
}
#OrganizersSection{
    background-color: rgb(228, 160, 248);
    height: 100vh;
    padding-top: 70px;
}
#FAQsSection{
    background-color: rgb(160, 200, 248);
    height: 100vh;
    padding-top: 70px;
}


@media (max-width: 600px){
    #img_score {
        width: 20vw;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 5vw;
        margin-top: 13vh;
    }
    #img_hearts {
        width: 20vw;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 4vw;
        margin-top: 13vh;
    }
    #h2{
        font-size: 5vh;
        margin: 0;
        margin-bottom: 3vh;
    }
    #h1{
        font-family: myFirstFont, sans-serif;
        margin: 0;
        font-size: 5vh;
        color: #FA59D8;
        margin-bottom: 3vh;
    }
    #h3{
        font-family: myFirstFont, sans-serif;
        font-size: 2vw;
        margin: 0;
    }
    .navbar{
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        background-color: #1129A6;
        z-index: 1000;
        margin: 0 auto;
    }
    #logo {
        margin-left: 5vw;
        width: 15vw;
        height: auto;
        border: none;
    }
    #HomePage #login_button{
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
    }
    #HomePage #login{
        width: 20vw;
        height: auto;
    }
    #WhoSection{
        height: auto;
        margin-top: 0px;
        padding-top: 5vh;
        margin-bottom: 10vh;
        padding-bottom: 0px;
    }
    #WhoSection h1{
        font-size: 5vw;
        margin-bottom: 0%;
        margin-top: 0;
        margin-bottom: 1vh;
    }
    .whoContainer{
        padding-top: 0px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        box-sizing: border-box;
    }
    #WhoSection .whoContainer p{
        width: 70%;
        padding: 20px;
        font-size: 0.7em;
        margin: 0;
    }
    #WhoSection .whoContainer img{
        width: 70%;
        height: auto;
    }
    #AboutSection{
        height: auto;
        margin-top: 0px;
        padding-top: 5vh;
        margin-bottom: 10vh;
        padding-bottom: 0px;
    }
    #AboutSection h1{
        font-size: 1em;
        margin-bottom: 0%;
        margin-top: 0;
        margin-bottom: 0vh;
    }
    .aboutContainer{
        padding-top: 0px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        box-sizing: border-box;
    }
    #AboutSection .aboutContainer p{
        width: 70%;
        padding: 20px;
        font-size: 0.7em;
        margin: 0;
    }
    #AboutSection .aboutContainer img{
        width: 70%;
        height: auto;
    }

    #TracksSection{
        height: auto;
        margin-top: 0px;
        padding-top: 5vh;
        margin-bottom: 0vh;
        padding-bottom: 0px;
    }
    #TracksSection h2{
        font-size: 1em;
        margin-bottom: 4vh;
        margin-top: 0;
    }
    .tracks-container{

    }
}
